<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Skill Show</h1>
    <p>Skills: <%= skill.skill %> </p>
    <div>
        <a href="/skills">Back to skills</a>
    </div>
</body>
</html>