<!DOCTYPE html>
<html>
  <head>
    <title>Express To-Do</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Todos</h1>
    <ul>
      <a href="/todos">To-Do List</a>
  </body>
</html>
