<!DOCTYPE html>
<html>
  <head>
    <title>Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills</h1>
    <ul>
      <a href="/skills">List of coding skills</a>
  </body>
</html>
